<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152281223174-juuqeu868thk33gflap8ii4q2bd1rpu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152281223174-juuqeu868thk33gflap8ii4q2bd1rpu3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>152281223174-bdltl9jdva3bbk5klidqpsj0sjkbto5m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ6Dx-Qxomhiw_faq_dVT6hCN9uHnMwkA</string>
	<key>GCM_SENDER_ID</key>
	<string>152281223174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notes</string>
	<key>PROJECT_ID</key>
	<string>dev-playground-6a8ad</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-playground-6a8ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152281223174:ios:666b898131666c63c9f387</string>
</dict>
</plist>